sudo: true
os: trusty
cache: false

env:
- URL=https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz

before_install:
- export SFDX_AUTOUPDATE_DISABLE=false
- export SFDX_USE_GENERIC_UNIX_KEYCHAIN=true
- export SFDX_DOMAIN_RETRY=300
- export SFDX_DISABLE_APP_HUB=true
- export SFDX_LOG_LEVEL=DEBUG
- mkdir sfdx
- wget -qO- $URL | tar xJ -C sfdx --strip-components 1
- "./sfdx/install"
- export PATH=./sfdx/$(pwd):$PATH
- sfdx --version
- sfdx plugins --core

script:
  - if [ "$TRAVIS_BRANCH" == "develop" AND "$TRAVIS_PULL_REQUEST" != "false" ];
      then
        sfdx force:auth:jwt:grant --clientid 3MVG9Kip4IKAZQEVlISG5fc69yVmE7_h534SdYjuYDYcl3bUn0LmriIGwsRHq1aGd_XLGpaE8CE6R_rG6vfEG --username sdhond@sfdxcontinuousintegrationdemo.com --jwtkeyfile certificates/server.key --setalias target_org --instanceurl https://login.salesforce.com;
        sfdx force:source:deploy -p ./force-app -u target_org --checkonly;
        fi

branches:
  only:
    - develop
